{% extends "wheelcms_axle/content_base.html" %}

{% block base_stylesheets %}
{{block.super}}
<link rel="stylesheet" href="/static/css/wheelcms_valve.css" media="screen, projection, print"/>
{% endblock %}

{% block content_main %}

{% for child in page.object_list %}
  {% with content=child.content %}
    <div class="row">
      <div class="span12">
        <h3><a href="{{content.node.path}}">{{content.title}}</a></h3>
        <span class="entry-info">{% if content.state == "private" %}<span class="badge badge-important">private</span>{%endif%}          Written by <i class="icon-user"></i>
{{content.owner.get_full_name|default:content.owner}} on {{content.publication}} 
        {% with categories=content.categories.all %}
          {% if categories %}
            in
            {% for cat in categories %}
              {{cat}}{% if not forloop.last %},{% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="entry-content">
          {{content.body|safe|truncatewords_html:40}}
        </div>
        <div class="entry-continue">
          <a href="{{content.node.path}}">Continue reading</a>
        </div>
      </div>
    </div>
  {% endwith %}
{% endfor %}

{% include "two.bootstrap/pagination.html" %}

{% endblock %}
