{% extends "wheelcms_axle/content_base.html" %}
{% load granules %}
{% load staticfiles %}

{% block base_stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% static "css/wheelcms_valve.css" %}" media="screen, projection, print"/>

{% if user.my_profile.google %}
<link rel='author' href='{{user.my_profile.google}}' />
{% endif %}
{% endblock %}

{% block content_main %}

  {% include "wheelcms_valve/valveentry_detail.html" %}

{% endblock %}

{% block granules %}
  {{block.super}}

  {% granule "head" %}
    {% include "wheelcms_rss/feedlinks.html" with feedcontext=instance.parent.content %}
  {% endgranule %}
{% endblock %}
