{# link categories and tags to a filter on the main index view #}
<div class="row">
  <div class="span12">
    <h{{h|default:1}}><a href="{{content.node.path}}">{{content.title}}</a></h{{h|default:1}}>
    <span class="byline">{% if content.state == "private" %}<span class="badge badge-important">private</span>{%endif%} <i class="icon-user"></i>
     Written by {{content.owner}} &mdash; published {{content.publication}} &mdash; last modified {{content.modified}} 
    {% with categories=content.categories.all %}
      {% if categories %}
        &mdash; filed under
        {% for cat in categories %}
          {{cat}} {% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% with tags=content.tags.all %}
      {% if tags %}
        <i class="icon-tag"></i>
        {% for tag in tags %}
          <span class="label label-default">{{tag}}</span>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </span>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% if truncate %}
      {{content.body|safe|truncatewords_html:truncate}}
      <a href="{{content.node.path}}">Continue reading</a>
    {% else %}
      {{content.body|safe}}
    {% endif %}
  </div>
</div>
