{% extends "wheelcms_axle/content_base.html" %}
{% load fragments %}
{% load staticfiles %}


{% block base_stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% static "css/wheelcms_valve.css" %}" media="screen, projection, print"/>
{% endblock %}

{% block content_main %}

{% for child in page.object_list %}
  {% with content=child.content %}
    <div class="row">
      <div class="col-lg-12">
        <h3><a href="{{content.node.get_absolute_url}}">{{content.title}}</a>
        {% if not global_context and forloop.first %}
        <div class="pull-right"><a href="{{content.node.absolute_url}}/+rss"><img src="{% static "img/icons/rss_add.png" %}" /></a></div>
        {% endif %}
        </h3>
        <span class="entry-info">{% if content.state == "private" %}<span class="badge badge-important">private</span>{%endif%}          Written by <i class="glyphicon glyphicon-user"></i>
{{content.owner.get_full_name|default:content.owner}} on {{content.publication}} 
        {% with categories=content.categories.all %}
          {% if categories %}
            in
            {% for cat in categories %}
              {{cat}}{% if not forloop.last %},{% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="entry-content">
          {{content.body|safe|truncatewords_html:40}}
        </div>
        <div class="entry-continue">
          <a href="{{content.node.get_absolute_url}}">Continue reading</a>
        </div>
      </div>
    </div>
  {% endwith %}
{% endfor %}

{% include "two.bootstrap/pagination.html" %}

{% endblock %}

{% block fragments %}
  {{block.super}}

  {% fragment "head" %}
    {% if global_context %}
    {% for blog in all_blogs %}
      {% include "wheelcms_rss/feedlinks.html" with feedcontext=blog %}
    {% endfor %}
    {% else %}
      {% include "wheelcms_rss/feedlinks.html" with feedcontext=instance.content %}
    {% endif %}
  {% endfragment %}
{% endblock %}
