south
django-haystack==1.2.7
django-taggit
django-tinymce
django-userena
Pillow
stracks_api==0.2dev
twotest
git+git://github.com/iivvoo/two.ol
git+git://github.com/iivvoo/two.bootstrap
git+git://github.com/wheelcms/wheelcms_axle.git
git+git://github.com/wheelcms/wheelcms_spokes.git
git+git://github.com/wheelcms/wheelcms_categories.git
git+git://github.com/wheelcms/wheelcms_rss.git
coveralls
